<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                
                <rule name="Redirect posts to https://blog.keyman.com" stopProcessing="true">
                    <match url="^(\d\d\d\d)/(\d\d)/(.*)\.html$" />
                    <action type="Redirect" url="https://blog.keyman.com/{R:1}/{R:2}/{R:3}" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="Redirect categories to https://blog.keyman.com" stopProcessing="true">
                    <match url="^(using-keyman-desktop|amharic|android|developing-keyboards|developing-keyman|keyman-for-android|keyman-for-ipad|keyman-for-iphone|keymanweb|travel|using-keyman-desktop|webtech)" />
                    <action type="Redirect" url="https://blog.keyman.com/category/{R:1}/" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="Give a 404 on atom.xml" stopProcessing="true">
                    <match url="^atom\.xml" />
                    <action type="CustomResponse" statusCode="404" statusReason="Blog RSS feed has moved to https://blog.keyman.com/feed/" />
                </rule>

                <rule name="Redirect everything else to https://blog.keyman.com/ root" stopProcessing="true">
                    <match url=".*" />
                    <action type="Redirect" url="https://blog.keyman.com/" redirectType="Permanent" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
